<launch>

<node pkg="joy" type="joy_node" name="joystick"/>
<!--include file="$(find syropod_keyboard_control)/launch/syropod_keyboard_control.launch" /-->


<node pkg="syropod_remote" type="syropod_remote" name="syropod_remote" output="screen">
    <param name="publish_rate" value="10"/>
    <param name="imu_sensitivity" value="3"/>
    <param name="invert_compass" value="true"/>
    <param name="invert_imu" value="true"/>
</node>

</launch>
